.header {
    background-color: deepskyblue;
    text-align: center;
}

.fieldStyling {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 30px;
    border-color: rgb(133, 133, 133);
}

.personalInfo {
    display: grid;
}

.textCentering {
    text-align: center;
}

.test {
    display: flex;
    justify-content: center;
}

.mainColour {
    background-color: lightgray;
    justify-items: center;
}

.preview {
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    background-color: white;
}

.name {
    padding-top: 65px;
    text-align: center;
    text-decoration: underline;
}

.phone, .address, .email, .github, .linkedin {
    text-align: center;
}

.educationHeader, .workHeader {
    /* text-decoration: underline; */
    margin-left: 20mm;
    margin-right: 20mm;
    font-size: 1.5em;
}

.margin {
    margin-left: 20mm;
    margin-right: 20mm;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.textInput {
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: rgb(133, 133, 133);
    border-style: solid;
}